﻿
@{
    ViewBag.Title = "TinCan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TinCan</h2>

@section scripts
{
    <script type="text/javascript">

        var lrs;

        //Creating a statement
        var statement = new TinCan.Statement(
            {
                actor: {
                    mbox: "adi.silagy@gmail.com"
                },
                verb: {
                    id: "http://activitystrea.ms/schema/1.0/qualify",
                    display: {
                        "en-US": "Qualified",
                        "he-IL" : "מוסמך"
                    }
                    
                },
                target: {
                    id: "http://rusticisoftware.github.com/TinCanJS"
                },
                object: {
                    "id": "http://myapplication/GolfActivity",
                    "definition": {
                        "name": { "en-US": "This is a gold learining activity" }
                    }
                },
                result: {
                    "completion": true,
                    "success": true,
                    "score": {
                        "scaled": 0.923
                    },
                    duration: "PT2H"
                }
            }
        );

        try {
            lrs = new TinCan.LRS(
                {
                    endpoint: "https://cloud.scorm.com/tc/SIOC0AXRWA/sandbox/",
                    username: "2zQRwT43ApQZeSwcnJE",
                    password: "nteG_V45vWqfaDcwA1Q",
                    allowFail: false
                }
            );
        } catch (ex) {
            console.log("Failed to setup LRS object: " + ex);
            // TODO: do something with error, can't communicate with LRS
        }

        lrs.saveStatement(
            statement,
            {
                callback: function(err, xhr) {
                    if (err !== null) {
                        if (xhr !== null) {
                            console.log("Failed to save statement: " + xhr.responseText + " (" + xhr.status + ")");
                            // TODO: do something with error, didn't save statement
                            return;
                        }

                        console.log("Failed to save statement: " + err);
                        // TODO: do something with error, didn't save statement
                        return;
                    }

                    console.log("Statement saved");
                    // TOOO: do something with success (possibly ignore)
                }
            }
        );
    </script>
}

